<a href="https://colab.research.google.com/github/sangramdhurve/Pandas_period/blob/main/Pandas_Period.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Different types of 'Pandas.Period' Method**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
periods = [pd.Period('2014-01'), pd.Period('2014-02'),
pd.Period('2014-03')]
ts_data = pd.Series(np.random.randn(3), periods)
type(ts_data.index)

pandas.core.indexes.period.PeriodIndex

**Get day of the month that a Period falls on**

In [ ]:
p = pd.Period("2018-03-11", freq='H')
p

Period('2018-03-11 00:00', 'H')

For periods that span over multiple days, the day at the beginning of the period is returned.

In [ ]:
per = pd.Period('2017-12-31 22:00', '4H')
per.day_of_week

6

the day at the beginning of the period is returned.

In [ ]:
per.start_time.day_of_week

6

For periods with a frequency higher than days, the last day of the period is returned.

In [ ]:
per.end_time.day_of_week

0

This attribute returns the day of the year on which the particular date occurs. The return value ranges between 1 to 365 for regular years and 1 to 366 for leap years.

In [ ]:
period = pd.Period("2015-10-23", freq='H')
period.day_of_year

296

In [ ]:
period = pd.Period("2012-12-31", freq='D')
period.day_of_year

366

In [ ]:
period = pd.Period("2013-01-01", freq='D')
period.day_of_year

1

Get the total number of days in the month that this period falls on.

In [ ]:
p = pd.Period('2018-2-17')
p.days_in_month

28

In [ ]:
pd.Period('2018-03-01').days_in_month

31

Handles the leap year case as well:

In [ ]:
p = pd.Period('2016-2-17')
p.days_in_month

29

Get the total number of days of the month that the Period falls in.

In [ ]:
p = pd.Period("2018-03-11", freq='H')
p.daysinmonth

31

Get the Timestamp for the start of the period.

In [ ]:
period = pd.Period('2012-1-1', freq='D')
period

Period('2012-01-01', 'D')

In [ ]:
period.start_time

Timestamp('2012-01-01 00:00:00')

In [ ]:
period.end_time

Timestamp('2012-01-01 23:59:59.999999999')

Get the week of the year on the given Period.

In [ ]:
p = pd.Period("2018-03-11", "H")
p.week

10

In [ ]:
p = pd.Period("2018-02-01", "D")
p.week

5

In [ ]:
p = pd.Period("2018-01-06", "D")
p.week

1

Returns the string representation of the Period, depending on the selected fmt. fmt must be a string containing one or several directives. The method recognizes the same directives as the time.strftime() function of the standard Python distribution, as well as the specific additional directives %f, %F, %q. (formatting & docs originally from scikits.timeries).

In [ ]:
a = pd.Period(freq='Q-JUL', year=2006, quarter=1)
a.strftime('%F-Q%q')

'2006-Q1'

In [ ]:
# Output the last month in the quarter of this date
a.strftime('%b-%Y')

'Oct-2005'

In [ ]:
a = pd.Period(freq='D', year=2001, month=1, day=1)
a.strftime('%d-%b-%Y')

'01-Jan-2001'

In [ ]:
a.strftime('%b. %d, %Y was a %A')

'Jan. 01, 2001 was a Monday'

An ExtensionDtype for Period data.

In [ ]:
pd.PeriodDtype(freq='D')

period[D]

In [ ]:
pd.PeriodDtype(freq=pd.offsets.MonthEnd())

period[M]

#Thank you